@model Prados.Web.Models.ContabilidadViewModel
@{
    ViewData["Title"] = "AddPagoSede";
}

<h2>Create</h2>

<h4>Ingreso Sede</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPagoSede" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ing_FechadePago" class="control-label"></label>
                <input asp-for="Ing_FechadePago" class="form-control" />
                <span asp-validation-for="Ing_FechadePago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ing_Sede" class="control-label"></label>
                <input asp-for="Ing_Sede" class="form-control" />
                <span asp-validation-for="Ing_Sede" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

