@model IEnumerable<Prados.Web.Data.Entities.Ingresostbl>

@{
    ViewData["Title"] = "Index";
}

<h2>Owners</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Pagos
            </th>
            <th></th>
        </tr>
        @{
            var TotalCuotas = 0;
        }
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            TotalCuotas += Convert.ToInt32(item.Val.Val_Valor);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Val.Val_Valor)
                </td>
                <td align="center">
                </td>
            </tr>

        }
    </tbody>
    
</table>
<strong>Total Cuotas :@TotalCuotas</strong>
