@model Prados.Web.Models.AddUserViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Owner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PRO_LOTE" class="control-label"></label>
                <input asp-for="PRO_LOTE" class="form-control" />
                <span asp-validation-for="PRO_LOTE" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PRO_TIPO" class="control-label"></label>
                <input asp-for="PRO_TIPO" class="form-control" />
                <span asp-validation-for="PRO_TIPO" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PRO_NOMBRES" class="control-label"></label>
                <input asp-for="PRO_NOMBRES" class="form-control" />
                <span asp-validation-for="PRO_NOMBRES" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PRO_APELLIDOS" class="control-label"></label>
                <input asp-for="PRO_APELLIDOS" class="form-control" />
                <span asp-validation-for="PRO_APELLIDOS" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PRO_OBSERVACIONES" class="control-label"></label>
                <input asp-for="PRO_OBSERVACIONES" class="form-control" />
                <span asp-validation-for="PRO_OBSERVACIONES" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PRO_TELEFONO" class="control-label"></label>
                <input asp-for="PRO_TELEFONO" class="form-control" />
                <span asp-validation-for="PRO_TELEFONO" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PRO_TIPOIDENTIFICACION" class="control-label"></label>
                <input asp-for="PRO_TIPOIDENTIFICACION" class="form-control" />
                <span asp-validation-for="PRO_TIPOIDENTIFICACION" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PRO_IDENTIFICACION" class="control-label"></label>
                <input asp-for="PRO_IDENTIFICACION" class="form-control" />
                <span asp-validation-for="PRO_IDENTIFICACION" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordConfirm" class="control-label"></label>
                <input asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
