@model Prados.Web.Models.VehiculoViewModel

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/fonts/font-awesome-4.7.0/css/all.css">

<h2 class="text-titles"><i class="fa fa-car"></i>  Editar Informacion del Vehiculo</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditVehiculo" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="PropietarioId"/>
            <input type="hidden" asp-for="ImageUrl"/>

            <div class="form-group">
                <label asp-for="Veh_Codigo" class="control-label"></label>
                <input asp-for="Veh_Codigo" class="form-control" />
                <span asp-validation-for="Veh_Codigo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Veh_Placa" class="control-label"></label>
                <input asp-for="Veh_Placa" class="form-control" pattern="[A-Z]{3}[0-9]{4}" title="La placa debe tener 3 letras mayusculas y 4 numeros" />
                <span asp-validation-for="Veh_Placa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Veh_Detalles" class="control-label"></label>
                <textarea asp-for="Veh_Detalles" class="form-control"></textarea>
                <span asp-validation-for="Veh_Detalles" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.PropietarioId" class="btn btn-info"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:400px;height:400px;max-width: 100%; height: auto;" />
            }
    </div>
</div>


